{% block html_head_container %}

{% include 'html-header.twig' %}
    {% block head %}
    {% endblock %}
    </head>
{% endblock %}

	<body class="{{body_class}}" data-template="base.twig">
        <span style="display: none;">{{ svg_sprite }}</span>
		<header class="header" >
			{% block header %}
				<div class="wrapper">
					<h1 class="hdr-logo" role="banner">
						<a class="hdr-logo-link" href="{{ site.url }}" rel="home">{{ site.name }}</a>
					</h1>
					<nav id="nav-main-desktop" class="nav-main" role="navigation">
						{% include "menu.twig" with {'menu': main_menu.get_items, 'menu_options': main_menu.raw_options} %}
					</nav><!-- #nav -->
					<nav id="nav-main-mobile" class="nav-main" role="navigation" aria-hidden="true">
						<div class="hamburger-wrapper">
							<button id="mobile-menu-button" class="btn hamburger align-right" aria-hidden="true" aria-haspopup="true" aria-controls="mobile-menu"></button>
						</div>
					</nav>
				</div>
			{% endblock %}
		</header>

        <section id="content" role="main" class="content-wrapper">
            <div class="container">
				<div class="row">
					<div class="content">
						{% block content %}
							Sorry, no content
						{% endblock %}
					</div>
					{% if sidebar %}
						<aside class="sidebar {{ sidebar_class }}">
							{{ sidebar }}
						</aside>
					{% endif %}
				</div>
			</div>
        </section>

        {% block footer %}
            <footer id="footer" role="contentinfo">
                {% include 'footer.twig' %}
            </footer>
            {{ function('wp_footer') }}
        {% endblock %}
    </body>
</html>
